Repository Dimmus/efl, changes with the labels that .github/labeler.yml gives for each.
All labels: analisys, benchmarks, translation, services, build-system, ci, scripts, coccinelle, documentation, lib, bin, core, core-input, core-wl, dbus, eo, eo-gen, eo-interfaces, shared, modules, meson, tests

tests: core_wayland - return with check
  meson.build
  tests/core_wayland/efl_core_wayland_suite.c
  tests/core_wayland/efl_core_wayland_suite.h
  tests/core_wayland/efl_core_wayland_tests_helper_egl.h
  tests/core_wayland/efl_core_wayland_tests_helpers.h
  tests/core_wayland/meson.build
  tests/core_wayland/test_efl_core_wayland_display.c
  tests/core_wayland/test_efl_core_wayland_input.c
  tests/core_wayland/test_efl_core_wayland_output.c
  tests/core_wayland/test_efl_core_wayland_session.c
  tests/core_wayland/test_efl_core_wayland_window.c
Labels: build-system, meson, tests

lib: core_wayland - rename from 'core_wl_' to 'core_wayland_'
  src/lib/core_wayland/core_wayland.c
  src/lib/core_wayland/core_wayland_buffer.c
  src/lib/core_wayland/core_wayland_display.c
  src/lib/core_wayland/core_wayland_dnd.c
  src/lib/core_wayland/core_wayland_input.c
  src/lib/core_wayland/core_wayland_internal.h
  src/lib/core_wayland/core_wayland_output.c
  src/lib/core_wayland/core_wayland_private.h
  src/lib/core_wayland/core_wayland_subsurf.c
  src/lib/core_wayland/core_wayland_surface.c
  src/lib/core_wayland/core_wayland_window.c
  src/lib/core_wayland/meson.build
Labels: build-system, lib, meson

modules: core_wayland - correct to new header name
  src/modules/core_wayland/engines/dmabuf/core_wl_surface_module_dmabuf.c
Labels: modules

meson: change option from 'wl' to 'wayland'
  meson.build
  meson_options.txt
Labels: build-system, meson

github: add egl dependency, level up action versions
  .github/actions/setup/action.yml
  .github/workflows/codeql.yml
Labels: tests

core: wayland - api change from Ecore_Wl to Efl_Core_Wl
  changelog_api.md
  src/lib/core_wayland/Efl_Core_Wl.h
  src/lib/core_wayland/core_wayland.c
  src/lib/core_wayland/core_wayland_buffer.c
  src/lib/core_wayland/core_wayland_display.c
  src/lib/core_wayland/core_wayland_dnd.c
  src/lib/core_wayland/core_wayland_input.c
  src/lib/core_wayland/core_wayland_internal.h
  src/lib/core_wayland/core_wayland_output.c
  src/lib/core_wayland/core_wayland_private.h
  src/lib/core_wayland/core_wayland_subsurf.c
  src/lib/core_wayland/core_wayland_surface.c
  src/lib/core_wayland/core_wayland_window.c
  src/lib/core_wayland/window_v6.x
  src/modules/core_wayland/engines/dmabuf/core_wl_surface_module_dmabuf.c
  tests/core_wayland/efl_core_wayland_suite.c
  tests/core_wayland/efl_core_wayland_suite.h
  tests/core_wayland/efl_core_wayland_tests_helper_egl.h
  tests/core_wayland/efl_core_wayland_tests_helpers.h
  tests/core_wayland/test_efl_core_wayland_display.c
  tests/core_wayland/test_efl_core_wayland_input.c
  tests/core_wayland/test_efl_core_wayland_output.c
  tests/core_wayland/test_efl_core_wayland_session.c
  tests/core_wayland/test_efl_core_wayland_window.c
Labels: lib, modules, tests

tools: move packaging scripts into tools folder
  tools_templates/packaging/aur-git/50-systemd-user.conf
  tools_templates/packaging/aur-git/PKGBUILD
  tools_templates/packaging/aur-git/sway-portals.conf
  tools_templates/packaging/aur-git/sway.install
  tools_templates/packaging/aur/50-systemd-user.conf
  tools_templates/packaging/aur/PKGBUILD
  tools_templates/packaging/aur/sway-portals.conf
  tools_templates/packaging/aur/sway.install
  tools_templates/packaging/swayfx.rpkg.spec
Labels: none

github: add templates
  .github_templates/FUNDING.yml
  .github_templates/workflows/clang_tidy.yml
  .github_templates/workflows/clang_tidy_comments.yml
  .github_templates/workflows/pr_author_auto_assign.yml
  .github_templates/workflows/sonarcloud.yml
  .github_templates/workflows/translation_update.yml
Labels: none

wayland: apply code autoformating after api change
  src/lib/core_wayland/core_wayland.c
  src/lib/core_wayland/core_wayland_buffer.c
  src/lib/core_wayland/core_wayland_display.c
  src/lib/core_wayland/core_wayland_dnd.c
  src/lib/core_wayland/core_wayland_input.c
  src/lib/core_wayland/core_wayland_output.c
  src/lib/core_wayland/core_wayland_subsurf.c
  src/lib/core_wayland/core_wayland_surface.c
  src/lib/core_wayland/core_wayland_window.c
  src/modules/core_wayland/engines/dmabuf/core_wl_surface_module_dmabuf.c
  tests/core_wayland/test_efl_core_wayland_display.c
  tests/core_wayland/test_efl_core_wayland_input.c
  tests/core_wayland/test_efl_core_wayland_window.c
Labels: lib, modules, tests

lib: eo - remove headers from meson
  src/lib/eo/meson.build
Labels: build-system, lib, eo, meson

lib: shared - change valgrind name to dep_valgrind
  src/lib/shared/meson.build
Labels: build-system, lib, shared, meson

tools: build - remove dev flags that already be set by default in options
  tools/build/build.sh
Labels: none

tests: wayland - correct to new name - dep_wayland
  tests/core_wayland/meson.build
Labels: build-system, meson, tests

tests: eo - correct to dep_valgrind
  tests/eo/suite/meson.build
Labels: build-system, meson, tests

lib: wayland - add specific wayland versions
  src/lib/core_wayland/meson.build
Labels: build-system, lib, meson

meson: add preliminary backend options
  meson.build
  meson_options.txt
Labels: build-system, meson

meson: change default buildtype to plain (faster)
  meson.build
Labels: build-system, meson

meson: change option from wayland to backend-wayland
  meson.build
Labels: build-system, meson

lib: wayland - add check of used wayland version
  src/lib/core_wayland/core_wayland_input.c
  src/lib/core_wayland/core_wayland_window.c
Labels: lib

lib: wayland - formating
  src/lib/core_wayland/core_wayland_internal.h
  src/lib/core_wayland/core_wayland_private.h
Labels: lib

lib: wayland - correct wrong indent
  src/lib/core_wayland/meson.build
Labels: build-system, lib, meson

lib: wayland - formating
  src/lib/core_wayland/Efl_Core_Wl.h
Labels: lib

github: build with debug flag
  .github/actions/meson/action.yml
Labels: none

github: add linter
  .github/workflows/combine-dependabot-pr.yml
  .github/workflows/linter.yml
Labels: tests

readme: add github stats
  README.md
Labels: documentation

tools: add scripts linter and test framework template
  tools_templates/utils_maintenance/script_tests/install.sh
  tools_templates/utils_maintenance/script_tests/run_linter.sh
  tools_templates/utils_maintenance/script_tests/run_tests.sh
  tools_templates/utils_maintenance/script_tests/tests/bash_unit
  tools_templates/utils_maintenance/script_tests/tests/test_install.sh
Labels: none

core: wayland - make header formating
  src/lib/core_wayland/Efl_Core_Wl.h
Labels: lib

lib: change VMAJ to EFL_VERSION_MAJOR , etc to avoid duplication
  meson/header_checks/meson.build
  src/lib/core/core.c
  src/lib/core/efl_app.c
  src/lib/dbus/efl_dbus_core.c
  src/lib/shared/eina_main.c
  src/lib/shared/utils/eina_hamster.c
Labels: build-system, lib, core, dbus, shared, meson

lib: wayland - make consistent formating and naming in meson
  src/lib/core_wayland/protocols/meson.build
Labels: build-system, lib, meson

lib: wayland - add target protocols version
  src/lib/core_wayland/meson.build
  src/lib/core_wayland/protocols/meson.build
Labels: build-system, lib, meson

github: add codespell
  .github/workflows/codespell.yml
Labels: tests

github: configure dependabot to update workflows
  .github/githubdependabot.yml
Labels: ci

github: rename githubdependabot.yml to dependabot.yml
  .github/dependabot.yml
Labels: ci

Update tasks in README.md
  README.md
Labels: documentation

clang-format: add alignment across comments
  .clang-format
Labels: none

code: apply formating
  src/lib/core/core.c
  src/lib/core/core_exe_posix.c
  src/lib/core/core_main.c
  src/lib/core/core_time.c
  src/lib/dbus/efl_dbus_core.c
  src/lib/eo/eo.c
  src/lib/shared/checksum/eina_sha.c
  src/lib/shared/eina_main.c
  src/lib/shared/log/eina_error.c
  src/lib/shared/memory/eina_cow.c
  src/lib/shared/string/eina_unicode.c
  src/lib/shared/thread/eina_lock.c
  src/lib/shared/utils/eina_file_posix.c
  src/lib/shared/utils/eina_hamster.c
  src/lib/shared/win32/eina_file_win32.c
Labels: lib, core, dbus, eo, shared

meson: systemd - simplify join_path
  services/systemd/meson.build
Labels: build-system, meson

clang-format: set AlignCompound to true
  .clang-format
Labels: none

Update action.yml. Add wayland_protocols deps.
  .github/actions/setup/action.yml
Labels: none

Update meson.build.
  src/lib/core_wayland/protocols/meson.build
Labels: build-system, lib, meson

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analisys:
  - changed-files:
    - any-glob-to-any-file: 'analisys/**/*'
benchmarks:
  - changed-files:
    - any-glob-to-any-file: 'benchmarks/**/*'
translation:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
services:
  - changed-files:
    - any-glob-to-any-file: 'services/*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build', 'Makefile', 'configure']
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'scripts/coccinelle/*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/**/*']
lib:
  - changed-files:
    - any-glob-to-any-file: 'src/lib/**/*'
bin:
  - changed-files:
    - any-glob-to-any-file: 'src/bin/**/*'
core:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/core/*', 'src/bin/core/*', 'src/modules/core/*', 'tests/core/*']
core-input:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/core_input/*', 'src/bin/core_input/*', 'tests/core_input/*']
core-wl:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/core_wl/*', 'src/bin/core_wl/*', 'src/modules/core_wl/*', 'tests/core_wl/*']
dbus:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/dbus/*', 'src/bin/dbus/*', 'tests/dbus/*']
eo:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/eo/*', 'src/bin/eo/*', 'tests/eo/*']
eo-gen:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/eo_gen/*', 'src/bin/eo_gen/*', 'tests/eo_gen/*']
eo-interfaces:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/eo_interfaces/*', 'src/bin/eo_interfaces/*', 'tests/eo_interface/*']
shared:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/shared/*', 'src/bin/shared/*', 'src/modules/shared/*', 'tests/shared/*']
modules:
  - changed-files:
    - any-glob-to-any-file: 'src/modules/**/*'
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'tests/**/*',
      '.github/workflows/*'
  ]
