Repository Dimmus/efl, changes with the labels that .github/labeler.yml gives for each.
All labels: analisys, benchmarks, translation, services, build-system, ci, scripts, coccinelle, documentation, lib, bin, core, core-input, core-wl, dbus, eo, eo-gen, eo-interfaces, shared, modules, meson, tests

.github/labeler.yml:

# SPDX-License-Identifier: LGPL-2.1-or-later
# vi: sw=2 ts=2 et:

analisys:
  - changed-files:
    - any-glob-to-any-file: 'analisys/**/*'
benchmarks:
  - changed-files:
    - any-glob-to-any-file: 'benchmarks/**/*'
translation:
  - changed-files:
    - any-glob-to-any-file: 'po/*'
services:
  - changed-files:
    - any-glob-to-any-file: 'services/*'
build-system:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build', 'Makefile', 'configure']
ci:
  - changed-files:
    - any-glob-to-any-file: '.github/*'
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'
coccinelle:
  - changed-files:
    - any-glob-to-any-file: 'scripts/coccinelle/*'
documentation:
  - changed-files:
    - any-glob-to-any-file: ['NEWS', 'README*', 'docs/**/*']
lib:
  - changed-files:
    - any-glob-to-any-file: 'src/lib/**/*'
bin:
  - changed-files:
    - any-glob-to-any-file: 'src/bin/**/*'
core:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/core/*', 'src/bin/core/*', 'src/modules/core/*', 'tests/core/*']
core-input:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/core_input/*', 'src/bin/core_input/*', 'tests/core_input/*']
core-wl:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/core_wl/*', 'src/bin/core_wl/*', 'src/modules/core_wl/*', 'tests/core_wl/*']
dbus:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/dbus/*', 'src/bin/dbus/*', 'tests/dbus/*']
eo:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/eo/*', 'src/bin/eo/*', 'tests/eo/*']
eo-gen:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/eo_gen/*', 'src/bin/eo_gen/*', 'tests/eo_gen/*']
eo-interfaces:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/eo_interfaces/*', 'src/bin/eo_interfaces/*', 'tests/eo_interface/*']
shared:
  - changed-files:
    - any-glob-to-any-file: ['src/lib/shared/*', 'src/bin/shared/*', 'src/modules/shared/*', 'tests/shared/*']
modules:
  - changed-files:
    - any-glob-to-any-file: 'src/modules/**/*'
meson:
  - changed-files:
    - any-glob-to-any-file: ['meson_options.txt', '**/meson.build']
tests:
  - changed-files:
    - any-glob-to-any-file: [
      'tests/**/*',
      '.github/workflows/*'
  ]

doc: contrib - update bug reporting info
  doc/manual/CONTRIBUTING.md
Labels: none

meson: activate eo_interfaces tests
  meson.build
Labels: build-system, meson

doc: correct EINA_ to EFL_
  doc/api/eo_tutorial.dox
Labels: none

test: eo_interfaces - first add and refactored from the old one
  tests/eo_interfaces/efl_test_composite_model.c
  tests/eo_interfaces/efl_test_container_model.c
  tests/eo_interfaces/meson.build
Labels: build-system, meson, tests

tests: eo - make consistent by renaming from fail_if to efl_assert_fail_if
  tests/eo/children/children_main.c
  tests/eo/composite_objects/composite_objects_main.c
  tests/eo/constructors/constructors_main.c
  tests/eo/function_overrides/function_overrides_inherit2.c
  tests/eo/function_overrides/function_overrides_main.c
  tests/eo/function_overrides/function_overrides_simple.c
  tests/eo/interface/interface_main.c
  tests/eo/mixin/mixin_main.c
  tests/eo/mixin/mixin_mixin2.c
  tests/eo/mixin/mixin_mixin3.c
  tests/eo/signals/signals_main.c
  tests/eo/suite/eo_suite.c
Labels: tests

tests: dbus - first add, off now
  tests/dbus/efl_dbus_fake_server.c
  tests/dbus/efl_dbus_fake_server.h
  tests/dbus/efl_dbus_suite.c
  tests/dbus/efl_dbus_suite.h
  tests/dbus/efl_dbus_test_fake_server_model_proxy.c
  tests/dbus/efl_dbus_test_init.c
  tests/dbus/efl_dbus_test_message.c
  tests/dbus/efl_dbus_test_model.c
  tests/dbus/efl_dbus_test_model.h
  tests/dbus/efl_dbus_test_model_connection.c
  tests/dbus/efl_dbus_test_model_method.c
  tests/dbus/efl_dbus_test_model_object.c
  tests/dbus/efl_dbus_test_model_proxy.c
  tests/dbus/efl_dbus_test_model_signal.c
  tests/dbus/efl_dbus_test_object.c
  tests/dbus/efl_dbus_test_pending_cancel.c
  tests/dbus/efl_dbus_test_pending_data.c
  tests/dbus/efl_dbus_test_proxy.c
  tests/dbus/efl_dbus_test_signal_handler.c
  tests/dbus/meson.build
Labels: build-system, dbus, meson, tests

github: create coding-style.yml
  .github/workflows/coding-style.yml
Labels: tests

github: update coding-style.yml
  .github/workflows/coding-style.yml
Labels: tests

github: create coding-style-pr.yml
  .github/workflows/coding-style-pr.yml
Labels: tests

github: create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: tests

readme: clarify thoughts
  README.md
Labels: documentation

api: add ecore and eldbus api changes
  changelog_api.md
Labels: none

meson: add host os names for win, formating
  meson/constants/meson.build
Labels: build-system, meson

meson: make functions check by keys (names)
  meson/header_checks/meson.build
Labels: build-system, meson

meson: formating
  src/lib/eo_gen/meson.build
  src/lib/shared/meson.build
  src/lib/shared/utils/meson.build
Labels: build-system, lib, eo-gen, shared, meson

meson: add configuration warnings
  meson.build
Labels: build-system, meson

meson: options - formating
  meson_options.txt
Labels: build-system, meson

todo: update bugs with tests under libcheck
  TODO
Labels: none

readme: add change_log file extension
  README.md
Labels: documentation

core: correct wrong naming case
  src/lib/core/core_alloc.c
  src/lib/core/core_anim.c
  src/lib/core/core_job.c
  src/lib/core/core_main.c
  src/lib/core/core_poller.c
  src/lib/core/core_private.h
  src/lib/core/efl_loop.c
Labels: lib, core

meson: remove 'eo_gen_' title from custom_command
  src/lib/core/meson.build
  src/lib/dbus/meson.build
  src/lib/eo/meson.build
  src/lib/eo_interfaces/meson.build
  tests/core/meson.build
  tests/eo_gen/meson.build
Labels: build-system, lib, core, dbus, eo, eo-gen, eo-interfaces, meson, tests

lib: shared - add return to suppress warning
  src/lib/shared/string/eina_str.c
Labels: lib

core_wayland: add to protocols collection
  src/lib/core_wayland/protocols/gamescope/frog-color-management-v1.xml
  src/lib/core_wayland/protocols/gamescope/gamescope-control.xml
  src/lib/core_wayland/protocols/gamescope/gamescope-input-method.xml
  src/lib/core_wayland/protocols/gamescope/gamescope-pipewire.xml
  src/lib/core_wayland/protocols/gamescope/gamescope-swapchain.xml
  src/lib/core_wayland/protocols/gamescope/gamescope-xwayland.xml
  src/lib/core_wayland/protocols/gamescope/meson.build
  src/lib/core_wayland/protocols/kde/idle.xml
  src/lib/core_wayland/protocols/wlroots/wlr-input-inhibitor-unstable-v1.xml
  src/lib/core_wayland/protocols/wlroots/wlr-layer-shell-unstable-v1.xml
  src/lib/core_wayland/protocols/wlroots/wlr-output-power-management-unstable-v1.xml
Labels: build-system, lib, meson

meson: comment unused jpeg dependency
  meson/header_checks/meson.build
Labels: build-system, meson

doc: add requirement.md
  doc/manual/REQUIREMENTS.md
  doc_templates/manual/REQUIREMENTS.md
Labels: none

tools: add code style check script
  tools/style/check-style-c.awk
  tools/style/check-style-common.awk
  tools/style/check-style-cpp.awk
  tools/style/check-style-man.awk
  tools/style/check-style-shell.awk
  tools/style/check-style.sh
Labels: none

tools: rename utils_maintenance to build
  tools/build/build.sh
Labels: none

tools: add ci and docker templates
  tools_templates/ci/check-directional-formatting.bash
  tools_templates/ci/config/README
  tools_templates/ci/install-dependencies.sh
  tools_templates/ci/install-docker-dependencies.sh
  tools_templates/ci/lib.sh
  tools_templates/ci/make-test-artifacts.sh
  tools_templates/ci/mount-fileshare.sh
  tools_templates/ci/print-test-failures.sh
  tools_templates/ci/run-build-and-minimal-fuzzers.sh
  tools_templates/ci/run-build-and-tests.sh
  tools_templates/ci/run-docker-build.sh
  tools_templates/ci/run-docker.sh
  tools_templates/ci/run-static-analysis.sh
  tools_templates/ci/run-test-slice.sh
  tools_templates/ci/test-documentation.sh
  tools_templates/ci/util/extract-trash-dirs.sh
  tools_templates/docker/.gitlab-ci.yml
  tools_templates/docker/Dockerfile
  tools_templates/docker/README.md
  tools_templates/docker/ci/build_libs.sh
  tools_templates/docker/ci/build_project.yml
  tools_templates/docker/helpers/Makefile.am
  tools_templates/docker/helpers/README.md
  tools_templates/docker/helpers/xfce-build
  tools_templates/docker/helpers/xfce-do-release.in
  tools_templates/docker/helpers/xfce-get-release-notes
  tools_templates/docker/helpers/xfce-get-translations
  tools_templates/docker/helpers/xfce-open-gitlab
  tools_templates/docker/helpers/xfce-update-news
Labels: none

packaging: initial add
  packaging/aur-git/50-systemd-user.conf
  packaging/aur-git/PKGBUILD
  packaging/aur-git/sway-portals.conf
  packaging/aur-git/sway.install
  packaging/aur/50-systemd-user.conf
  packaging/aur/PKGBUILD
  packaging/aur/sway-portals.conf
  packaging/aur/sway.install
  packaging/swayfx.rpkg.spec
Labels: none

meson: comment nls and docs by default
  meson_options.txt
Labels: build-system, meson

editorconfig: add yml and correct md indent_size
  .editorconfig
Labels: none

meson: change minimal meson version to 0.61 to support ubuntu 22.04
  meson.build
Labels: build-system, meson

github: add mkdocs template
  .github_templates/_build_separate/workflows/mkdocs.yml
Labels: none

meson: comment unused services support
  meson.build
Labels: build-system, meson

meson: build tests by default
  meson_options.txt
Labels: build-system, meson

shared: hash - solve gcc 14 calloc warning
  src/lib/shared/data/eina_hash.c
Labels: lib

git: add cache to gitignore
  .gitignore
Labels: none

meson: remove unused option
  meson/cflags/meson.build
Labels: build-system, meson

core: wayland - cleanup and refactoring
  src/lib/core_wayland/meson.build
  src/lib/core_wayland/protocols/meson.build
Labels: build-system, lib, meson

github: add build and util workflows with actions
  .github/actions/autotools_deprecated/action.yml
  .github/actions/doxycheck/action.yml
  .github/actions/meson/action.yml
  .github/actions/setup/action.yml
  .github/actions/setup/action_all.yml
  .github/workflows/auto-close-issues.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/lock-threads.yml
Labels: tests
